body{
    max-width: auto;
    text-align: center;
    background-color:aliceblue;
    margin:20%;
    padding:20%;
    font-family: sans-serif;
}
h1{
    font-family: Impact, 'Franklin Gothic Medium', 'sans';
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:oblique;
}

.instagram {
    display:inline;
}